{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
    <h1>Candidature index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>prenom</th>
                <th>Email</th>
                <th>cv</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.nom }}</td>
                <td>{{ candidature.prenom }}</td>
                <td>{{ candidature.email }}</td>
                <td>{{ candidature.cv }}</td>
                <td>
                    <a href="{{ path('candidature_show', {'name': candidature.nom}) }}">Afficher</a>
                    <a href="{{ path('candidature_edit', {'name': candidature.nom}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidature_new') }}">Créer une candidature</a>
{% endblock %}
